.about-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* ░ FIXED TITLE ABOVE EVERYTHING ░ */
.about-title {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  color: white;
  font-size: 5.4rem;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
  font-style: oblique;
}

/* 🔹 Video fixed */
.about-video {
  position: absolute;
  top: 0;
  /* left: 90px; */
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* 🔹 Independent scroll box */
.about-scroll-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;      /* user scrolls only this */
  scrollbar-width: none;
}
.about-scroll-box::-webkit-scrollbar { display: none; }

/* 🔹 Text centered */
.about-reveal-text {
  position: sticky;
  
  top: 70%;
  bottom: 10%;
  transform: translateY(-180%);
  text-align: center;
  font-size: 4.6rem;
  font-weight: 500;
  color: white;
  opacity: 1;
  transition: opacity .40s, transform .40s;
  line-height: 1.5;
  font-style: italic;
}

/* hidden state */
.about-reveal-text.fade {
  opacity: 0;
  transform: translateY(-20%);
}

.about-scroll-box::after {
  content: "";
  display: block;
  height: 260vh;   /* controls how long the user scrolls */
}
@media (max-width: 520px) {
  .about-reveal-text { font-size: 6.7rem; }
}
