/* body {
  background: #000;
  font-family: Arial, sans-serif;
  color: white;
} */

/* Title */
.title {
  justify-content: center;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Form */
.contact-form {
  
  width: 60%;
  margin-top: 20px;
  margin-left: 350px;
  padding-bottom: 2cm;

}

/* Row fields */
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* Input + textarea styling */
input, textarea {
  
  background: #0d0d0d;
  border: none;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 200px;
  resize: vertical;
  margin-bottom: 20px;
}

/* Submit button */
.submit-btn {
  margin-left: 9.5cm;
  background: #e60000;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-btn:hover {
  background: #cc0000;
}
